/**
 * On fly css v1
 * Alfredo Cosco
 * 
 */ 

#suggestions {
	margin: 0;
	margin-left:16px;
	padding: 0;
	position: absolute;
	z-index: 100;
}

.ui-content {
    padding: 5px;
}

.ui-collapsible-set {
    margin: 0;
}

#onfly-page{
	background: transparent url('../img/bglogo.png') no-repeat right 90%;
	background-position:fixed;
}

.firstmessage{
	font-size: 1.5em;
	font-weight:bold;
	color:#0088CC;
}

.keywords{
	font-style:italic;
}